.advantages {
  margin-top: 120px;
  margin-bottom: 120px;
  padding-top: 118px;
  padding-bottom: 110px;
  background-color: $color-ghostwhite;

  @include vp-1199 {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 100px;
    padding-bottom: 95px;
  }

  @include vp-767 {
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 70px 0 40px;
  }
}

.advantages h2 {
  margin-top: 0;
  margin-bottom: 60px;
  font-family: $ff-bebasneue;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  text-align: center;

  @include vp-1199 {
    margin-bottom: 45px;
    font-size: 42px;
    line-height: 42px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    padding: 0 calc(50vw - 145px);
  }
}

.advantages__list {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  display: grid;
  grid-template-columns: 1fr 240px 1fr;
  grid-template-rows: auto;
  column-gap: 60px;
  width: 1040px;
  margin: 0 auto;

  @include vp-1199 {
    grid-template-columns: 1fr 1fr;
    row-gap: 45px;
    column-gap: 25px;
    width: 100%;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    row-gap: 37px;
  }
}

.advantages__item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 162px;
  border-bottom: 2px solid rgba($color-crimson, 0.2);

  @include vp-1199 {
    min-height: auto;
    border-bottom: none;
  }

  @include vp-767 {
    padding: 0 calc(50vw - 113px);
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.advantages__item dl {
  margin: 0 32px 0 0;

  @include vp-767 {
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.advantages__item dt {
  font-family: $ff-robotocondensed;
  font-style: normal;
  font-weight: 700;
  font-size: 71px;
  line-height: 71px;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(127.61deg, $color-crimson 0%, $color-cobalt-2 45.58%);

  @include vp-1199 {
    font-size: 58px;
    line-height: 58px;
  }
}

.advantages__item dd {
  margin-top: -7px;
  margin-left: 0;
  font-family: $ff-robotocondensed;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color-persianblue;
  text-align: left;

  @include vp-767 {
    text-align: center;
  }
}

.advantages__item p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $ff-robotocondensed;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $color-sapphire;

  &:first-child {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;

    @include vp-1199 {
      margin-bottom: 0;
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.advantages__item--bottom {
  align-items: flex-end;
  min-height: 155px;
  border: none;

  @include vp-1199 {
    margin-top: -5px;
    min-height: auto;
  }

  @include vp-767 {
    margin-top: 0;
    padding-top: 2px;
  }
}

.advantages__item--bottom dl {
  @include vp-767 {
    margin-bottom: 8px;
  }
}

.advantages__item--left dl {
  margin-left: 24px;

  @include vp-1199 {
    margin-left: 0;
  }
}

.advantages__item--left.advantages__item--bottom {
  margin-left: -6px;

  @include vp-1199 {
    margin-left: 0;
  }
}

.advantages__item--major {
  grid-column: 2/3;
  grid-row: 1/max;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 55px 34px;
  margin-top: 7px;
  margin-bottom: 7px;
  background-color: $color-resolutionblue;
  color: $color-defaultwhite;

  @include vp-1199 {
    grid-column: 1/-1;
    grid-row: auto;
    padding: 30px 34px 40px;
    width: 442px;
    margin: auto;
  }

  @include vp-767 {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 35px calc(50vw - 145px) 42px;
    width: 100%;
  }
}

.advantages__item--major dl {
  margin-right: 0;
  margin-bottom: 40px;
  text-align: center;

  @include vp-1199 {
    margin-bottom: 20px;
  }

  @include vp-767 {
    margin-bottom: 11px;
  }
}

.advantages__item--major dt {
  margin-bottom: 15px;
  font-size: 74px;
  line-height: 74px;
  color: $color-defaultwhite;

  @include vp-1199 {
    margin-bottom: 13px;
    font-size: 74px;
    line-height: 74px;
  }

  @include vp-767 {
    margin-bottom: 10px;
  }
}

.advantages__item--major dd {
  font-size: 26px;
  line-height: 26px;
  color: $color-defaultwhite;

  @include vp-1199 {
    font-size: 22px;
    line-height: 22px;
  }
}

.advantages__item--major p {
  line-height: 24px;
  text-align: center;
  color: $color-defaultwhite;

  @include vp-1199 {
    width: 50%;
  }

  @include vp-767 {
    width: 227px;
  }
}
