.comments {
  background-color: $color-defaultwhite;
  padding-bottom: 120px;

  @include vp-1199 {
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-bottom: 70px;
  }
}

.comments__title {
  font: 700 49px/120% $ff-bebasneue;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  text-align: center;
  margin: -5px 0 44px;
  padding: 0;

  @include vp-1199 {
    font-size: 42px;
    margin: -3px 0 34px;
  }

  @include vp-767 {
    font-size: 32px;
    margin-bottom: 39px;
  }
}

.comments__list {
  padding: 0;
  position: relative;
  width: 560px;
  margin: 0 auto;

  @include vp-1199 {
    width: 566px;
  }

  @include vp-767 {
    width: 226px;
  }
}

.comments__swiper-button-prev,
.comments__swiper-button-next {
  content: "";
  background-color: $color-transparent;
  background-image: url("../img/svg/arrow-left.svg");
  background-size: 16px 32px;
  background-repeat: no-repeat;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 16px;
  height: 32px;

  @include vp-767 {
    width: 10px;
    height: 19px;
    background-size: 10px 19px;
  }

  &:focus {
    outline: 3px solid $color-resolutionblue;
    outline-offset: 5px;
  }
}

.comments__swiper-button-prev {
  left: -57px;

  @include vp-767 {
    left: -33px;
  }
}

.comments__swiper-button-next {
  background-image: url("../img/svg/arrow-right.svg");
  right: -57px;

  @include vp-767 {
    right: -33px;
  }
}


.comments__item {
  margin: 0;
  display: grid;
  grid-template-columns: 80px 1fr;
  column-gap: 28px;
  min-height: 242px;
  padding: 62px 62px 58px;
  background-color: $color-resolutionblue;

  img,
  picture {
    grid-row: auto / span 2;
  }

  p {
    font: 700 20px/150% $ff-robotocondensed;
    color: $color-defaultwhite;
    margin: -7px 0 12px;
  }

  blockquote {
    font: 400 16px/140% $ff-robotocondensed;
    color: $color-defaultwhite;
    margin: 0;
    padding: 0;
  }

  @include vp-1199 {
    padding: 62px 64px 56px;
  }

  @include vp-767 {
    grid-template-columns: 1fr 1fr;
    column-gap: 23px;
    row-gap: 11.5px;
    padding: 40px 28px 33px;

    img {
      height: 68px;
      grid-row: auto;
      margin-left: 13px;
      width: 68px;
    }

    p {
      margin-top: 8px;
      margin-bottom: 0;
      line-height: 130%;
    }

    blockquote {
      grid-column: 1 / -1;
      text-align: center;
    }
  }
}
