.gym-hall {
  padding-bottom: 120px;
  padding-top: 120px;

  .container {
    grid-template-columns: 2.9fr 5.1fr;
    column-gap: 22px;
    display: grid;
  }

  @include vp-1199 {
    padding-bottom: 100px;
    padding-top: 100px;

    .container {
      flex-direction: column;
      display: flex;
    }
  }

  @include vp-767 {
    padding-bottom: 70px;
    overflow: hidden;
    padding-top: 70px;

    .container {
      margin: 0;
      padding: 0;
    }
  }
}

.gym-hall__text {
  margin-left: 60px;
  color: $color-sapphire;
  margin-top: 45px;

  p:first-of-type {
    font: 400 18px/150% $ff-robotocondensed;
    margin: -1px 0 40px;
    padding: 0;
  }

  p:not(:first-of-type) {
    font: 100 16px/150% $ff-robotocondensed;
    margin: 0 0 8px;
    padding: 0;
  }

  @include vp-1199 {
    margin-bottom: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-left: 0;

    p:first-of-type {
      margin: 2px 0 35px;
    }

    p:not(:first-of-type) {
      font: 100 16px/150% $ff-robotocondensed;
      text-align: center;
      margin: 0 auto;
      padding: 0;
      max-width: 503px;
    }

    p[data-adaptive="desktop-only"] {
      display: none;
    }
  }

  @include vp-767 {
    padding: 0 15px;
    margin: 0 auto 32px;
    align-items: flex-start;

    p:first-of-type {
      margin-bottom: 25px;
    }

    p:not(:first-of-type) {
      text-align: left;
      padding-right: 27px;
    }
  }
}

.gym-hall__text h2 {
  font: 700 49px/120% $ff-bebasneue;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;

  @include vp-1199 {
    margin-top: -3px;
    font-size: 42px;
  }

  @include vp-767 {
    font-size: 32px;
  }
}

.gym-hall__views {
  position: relative;
  min-height: 516px;

  @include vp-1199 {
    min-height: 428px;
  }
}

.gym-hall__img {
  background-color: $color-lightslategrey;
  background-image: url("../img/content/background/gymhall-background-desk.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin-left: 66px;
  height: 401px;

  @include retina {
    background-image: url("../img/content/background/gymhall-background-desk@2x.webp");
  }

  @include vp-1199 {
    margin-left: 0;
    width: 100%;
    height: 345px;
    background-image: url("../img/content/background/gymhall-background-tab.webp");

    @include retina {
      background-image: url("../img/content/background/gymhall-background-tab@2x.webp");
    }
  }

  @include vp-767 {
    height: 313px;
    background-image: url("../img/content/background/gymhall-background-mob.webp");

    @include retina {
      background-image: url("../img/content/background/gymhall-background-mob@2x.webp");
    }
  }
}

.gym-hall__video {
  top: 288px;
  left: 2px;
  width: 364px;
  height: 228px;
  position: absolute;

  @include vp-1199 {
    top: 261px;
    transform: translateX(-50%);
    width: 266px;
    height: 167px;
    left: 50%;
  }

  @include vp-767 {
    transform: none;
    left: 0;
    top: 0;
    margin: 40px auto 0;
    position: relative;
    width: 320px;

    img {
      width: 100%;
      height: auto;
    }
  }
}
