.offer {
  padding-bottom: 60px;

  @include vp-1199 {
    padding-bottom: 50px;
  }

  @include vp-767 {
    padding-bottom: 35px;
  }
}

.offer h2 {
  margin: 0;
  margin-bottom: 52px;
  font-family: $ff-bebasneue;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  text-align: center;

  @include vp-1199 {
    margin-bottom: 40px;
    font-size: 42px;
    line-height: 42px;
  }

  @include vp-767 {
    margin-bottom: 42px;
    font-size: 32px;
    line-height: 32px;
  }
}

.offer__content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;

  @include vp-1199 {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

.offer__main {
  display: flex;

  @include vp-1199 {
    display: grid;
    grid-template-columns: 1fr 399px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.offer__main-info {
  position: relative;
  padding: 45px;
  padding-top: 34px;
  width: 280px;
  background-color: $color-torchred;

  @include vp-1199 {
    width: 100%;
  }

  @include vp-767 {
    min-height: 299px;
    text-align: center;
  }
}

.offer__main-info h3 {
  margin: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 43px;
  color: $color-defaultwhite;
}

.offer__main-info span {
  display: block;
  margin-top: -25px;
  font-weight: 700;
  font-size: 70px;
  line-height: 109px;
  color: $color-defaultwhite;
}

.offer__main-info p {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: $color-defaultwhite;

  @include vp-767 {
    margin-top: -5px;
  }
}

.offer__main-button {
  position: absolute;
  bottom: 45px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-defaultwhite;
  border-bottom: 1px solid $color-defaultwhite;

  &:hover,
  &:focus {
    color: $color-sapphire;
    border-color: $color-sapphire;
  }

  @include vp-767 {
    left: 50%;
    transform: translate(-50%);
  }
}

.offer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: $bg-cornflower-blue;

  @include vp-1199 {
    width: 399px;
  }

  @include vp-767 {
    width: 100%;
    height: 299px;
    object-fit: contain;
  }
}

.offer__card ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  list-style: none;

  @include vp-1199 {
    flex-direction: row;
    column-gap: 30px;
    row-gap: 30px;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.offer__card li {
  padding: 28px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 211px;
  border-width: 7px;
  border-style: solid;
  border-image: $border-gradient;
  border-image-slice: 1;

  @include vp-1199 {
    &:nth-child(2n + 1) p {
      margin-right: 27px;

      @include vp-767 {
        margin-right: 0;
      }
    }
  }

  @include vp-767 {
    padding: 39px;
    align-items: center;
    text-align: center;
  }
}

.offer__card h3 {
  margin: -15px 0 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 48px;
  color: $color-resolutionblue;
}

.offer__card p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 22px;
  color: $color-resolutionblue;
}

.offer__button {
  width: 68px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-resolutionblue;
  border-bottom: 1px solid $color-resolutionblue;

  &:hover,
  &:focus {
    opacity: 0.7;
    border-color: rgba($color-sapphire, 0.7);
  }
}
