.reviews {
  padding-top: 60px;
  padding-bottom: 120px;

  @include vp-1199 {
    padding-top: 49px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 35px;
    padding-bottom: 73px;
  }
}

.reviews h2 {
  margin: 0 0 52px 0;
  font-family: $ff-bebasneue;
  font-size: 49px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: center;
  color: $color-sapphire;

  @include vp-1199 {
    margin-bottom: 41px;
    font-size: 42px;
    line-height: 42px;
  }

  @include vp-767 {
    margin-bottom: 43px;
    font-size: 32px;
    line-height: 32px;
  }
}

.reviews__wrapper-inner {
  position: relative;
  padding-right: 300px;
  padding-left: 300px;

  @include vp-1199 {
    padding-right: 56px;
    padding-left: 56px;
  }

  @include vp-767 {
    padding-right: 32px;
    padding-left: 32px;
  }
}

.reviews__swiper ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.reviews__swiper li {
  position: relative;
  padding: 54px 62px 57px 170px;
  background-color: $color-resolutionblue;

  @include vp-1199 {
    padding-left: 173px;
  }

  @include vp-767 {
    padding: 40px 25px 36px;
  }
}

.reviews__swiper blockquote {
  margin: 0;
}

.reviews__swiper h4 {
  margin: 0 0 13px;
  font-size: 20px;
  line-height: 30px;
  color: $color-defaultwhite;

  @include vp-767 {
    margin-top: 7px;
    margin-bottom: 40px;
    padding-left: 99px;
    line-height: 26px;
  }

  @include vp-349 {
    margin-bottom: 23px;
  }
}

.reviews__swiper img {
  position: absolute;
  top: 61px;
  left: 62px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: contain;

  @include vp-1199 {
    left: 65px;
  }

  @include vp-767 {
    top: 40px;
    left: 41px;
    width: 68px;
    height: 68px;
  }
}

.reviews__swiper p {
  margin: 0;
  line-height: 22px;
  color: $color-defaultwhite;

  @include vp-767 {
    text-align: center;
  }
}

.reviews__button--prev,
.reviews__button--next {
  position: absolute;
  top: 41.5%;
  width: 20px;
  height: 42px;
  z-index: 10;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 42px;
    background-image: url("../img/svg/arrow-right.svg");
    background-repeat: no-repeat;

    @include vp-767 {
      width: 20px;
      height: 42px;
      background-image: url("../img/svg/arrow-small.svg");
    }
  }

  &:hover,
  &:focus {
    background-color: $color-whisper;
  }

  &:disabled {
    opacity: 0.5;
    background-color: transparent;
    cursor: default;
  }
}

.reviews__button--prev {
  left: 21%;
  right: auto;
  margin-left: auto;

  @include vp-1199 {
    top: 41.5%;
    left: 0;
  }

  @include vp-767 {
    top: 43.5%;
    left: -6px;
  }

  &::after {
    top: -4px;
    right: 0;
    transform: rotate(180deg);

    @include vp-767 {
      top: -10px;
      left: -3px;
    }
  }
}
.reviews__button--next {
  right: 21%;
  left: auto;
  margin-right: auto;

  @include vp-1199 {
    top: 41.5%;
    right: 0;
  }

  @include vp-767 {
    top: 43.5%;
    right: -6px;
  }

  &::after {
    top: 4px;
    left: 3px;

    @include vp-767 {
      top: 10px;
    }
  }
}
