.reviews {
  width: 720px;
  margin: 63px auto;
  margin-bottom: 125px;

  @include vp-1199 {
    margin-top: 52px;
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-top: 37px;
    margin-bottom: 70px;
    width: 100%;
  }
}

.reviews h2 {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: $ff-bebasneue;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  text-align: center;

  @include vp-1199 {
    margin-bottom: 40px;
    font-size: 42px;
    line-height: 42px;
  }

  @include vp-767 {
    margin-bottom: 42px;
    font-size: 32px;
    line-height: 32px;
  }
}

.reviews__wrapper {
  position: relative;
}

.reviews__slider {
  overflow: hidden;
  width: 562px;
  margin: 0 auto;

  @include vp-1199 {
    width: 566px;
  }

  @include vp-767 {
    //width: 226px;
    width: calc(100% - 94px);
  }
}

.reviews__list {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.reviews__wrapper[data-is-active] .reviews__list {
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.reviews__wrapper[data-is-active] .reviews__item {
  height: 100px;
}

.reviews__wrapper[data-is-active] .swiper-slide-active {
  height: auto;
}

.reviews__item {
  list-style-type: none;
  position: relative;
  width: 556px;
  padding: 54px 63px 55px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $color-resolutionblue;
  color: $color-defaultwhite;

  @include vp-1199 {
    padding-left: 63px;
    padding-right: 63px;
  }

  @include vp-767 {
    padding: 48px 25px 29px;
  }
}

.reviews__photo {
  margin-top: 5px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 28px;
  flex-shrink: 0;
  background-color: $color-chambray;

  @include vp-767 {
    position: absolute;
    top: 42px;
    left: 41px;
    margin-top: 0;
    width: 68px;
    height: 68px;
  }
}

.reviews__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews__text {
  @include vp-767 {
    width: 100%;
  }
}

.reviews__item h3 {
  width: 100%;
  margin-top: auto;
  margin-bottom: 7px;
  font-family: $ff-robotocondensed;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  @include vp-1199 {
    margin-bottom: 10px;
  }

  @include vp-767 {
    position: absolute;
    top: 47px;
    left: 124px;
    width: auto;
    line-height: 28px;
    overflow-wrap: anywhere;
  }
}

.reviews__content {
  @include vp-767 {
    margin-top: 74px;
  }
}

.reviews__content p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $ff-robotocondensed;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;

  @include vp-767 {
    text-align: center;
  }
}

.reviews__btn-next,
.reviews__btn-prev {
  display: none;
}

.reviews__wrapper[data-is-active] .reviews__btn-next,
.reviews__wrapper[data-is-active] .reviews__btn-prev {
  display: block;
  height: 100%;
  width: 60px;
  top: 0;
  margin: 0;

  @include vp-767 {
    width: 47px;
  }
}

.reviews__btn-next {
  right: 0;
}

.reviews__btn-prev {
  left: 0;
}
