.subscriptions {
  padding-top: 120px;
  padding-bottom: 120px;
  min-height: 851px;
  background-color: $color-ghostwhite;
  position: relative;

  .container {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  &::after {
    content: "";
    transform: rotate(-30deg);
    background-color: $color-transparent;
    background-image: url("../img/content/details/red-discs-desk.png");
    background-repeat: no-repeat;
    background-size: 321px 384px;
    display: block;
    position: absolute;
    bottom: -95px;
    right: -109px;
    width: 321px;
    height: 384px;

    @include retina {
      background-image: url("../img/content/details/red-discs-desk@2x.png");
    }

    @include vp-1199 {
      background-size: 289px 345px;
      bottom: -103px;
      right: -49px;
      background-image: url("../img/content/details/red-discs-tab.png");

      @include retina {
        background-image: url("../img/content/details/red-discs-tab@2x.png");
      }
    }

    @include vp-767 {
      display: none;
    }
  }

  @include vp-1199 {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 68px;
  }
}

.subscriptions__title {
  font: 700 49px/120% $ff-bebasneue;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-sapphire;
  text-align: center;
  margin: -3px 0 26px;
  padding: 0;

  @include vp-1199 {
    font-size: 42px;
    margin-bottom: 21px;
  }

  @include vp-767 {
    font-size: 32px;
    margin-bottom: 17px;
  }
}

.subscriptions__options {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 46px;
  border-bottom: 2px solid transparentize($color: $color-grey, $amount: 0.8);
  margin: 0 0 36px;

  @include vp-1199 {
    margin-bottom: 45px;
    gap: 55px;
  }

  @include vp-767 {
    gap: 46px;
    margin-bottom: 34px;
  }
}

.subscriptions__option {
  @include unselectable;
  position: relative;
  padding: 0 0 12px;

  a {
    font: 400 20px/150% $ff-robotocondensed;
    color: transparentize($color: $color-sapphire, $amount: 0.5);
    transition: color $trans-default;
  }

  &::after {
    content: "";
    bottom: -2px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: $color-transparent;
    transition: background-color $trans-default;
    position: absolute;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover a {
      color: transparentize($color: $color-sapphire, $amount: 0.2);
    }

    & a:focus {
      color: transparentize($color: $color-sapphire, $amount: 0.2);
      outline: 3px solid $color-resolutionblue;
      outline-offset: 12px;
    }

    &:hover::after {
      background-color: transparentize($color: $color-grey, $amount: 0.4);
    }
  }

  &.is-active {
    a {
      color: $color-sapphire;
    }
  }

  &.is-active::after {
    background-color: $color-crimson;
  }

  @include vp-1199 {
    a {
      font-size: 18px;
    }
  }

  @include vp-767 {
    &::after {
      right: auto;
      left: 0;
      width: 113%;
    }

    a {
      font-size: 16px;
    }
  }
}

.subscriptions__info {
  align-self: stretch;
}

.subscriptions__option-items {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin: 0;

  @include vp-1199 {
    max-width: 442px;
    margin: 0 auto;
    gap: 42px;
    grid-template-columns: 1fr;
  }

  @include vp-767 {
    gap: 0;
  }
}

.subscriptions__option-item {
  max-width: 360px;
  justify-self: center;

  @include vp-767 {
    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }
}

.subscriptions-item {
  padding: 65px 95px;
  background-color: $color-defaultwhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover {
      border-style: solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(45deg, $color-venetianred, $color-smalt);
      padding: 58px 72px;
      border-width: 7px;

      .subscriptions-item__button {
        padding: 25px 15px 26px;
        color: $color-defaultwhite;
        background: linear-gradient(97deg, $color-torchred, $color-smalt);
        border: none;
      }
    }
  }

  @include vp-1199 {
    padding: 65px 79px 66px;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover {
        padding: 58px 72px 59px;

        .subscriptions-item__button {
          padding: 27px 46px 24px;
        }
      }
    }
  }

  @include vp-767 {
    padding: 52px 41px 54px;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover {
        padding: 45px 34px 47px;

        .subscriptions-item__button {
          padding: 26px 32px;
        }
      }
    }
  }
}

.subscriptions-item__title {
  font: 700 26px/110.2% $ff-robotocondensed;
  color: $color-sapphire;
  margin: 0 0 10px;
  padding: 0;
  z-index: 5;
  text-align: center;

  & + p {
    font: 400 16px/150% $ff-robotocondensed;
    color: $color-chambray;
    margin: 0 0 66px;
    padding: 0;
    z-index: 5;
    text-align: center;
  }

  @include vp-1199 {
    margin-top: -2px;
  }

  @include vp-767 {
    font-size: 22px;

    & + p {
      margin-bottom: 55px;
    }
  }
}

.subscriptions-item__price {
  text-align: center;
  color: $color-egyptianblue;
  font: 700 60px/150% $ff-robotocondensed;
  margin: 0 0 33px;
  padding: 0;
  z-index: 5;

  &::after {
    font: 700 100px/150% $ff-robotocondensed;
    color: $color-whisper;
    content: " " attr(data-price) " ";
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  @include vp-1199 {
    margin-bottom: 34px;
  }

  @include vp-767 {
    margin-left: 8px;
    margin-bottom: 29px;
    font-size: 48px;

    &::after {
      font-size: 80px;
      top: 47%;
    }
  }
}

.rouble {
  font-family: $ff-robotocondensed;
  font-weight: 700;
  color: $color-sapphire;
}

.subscriptions-item__button {
  padding: 23px 13px 24px;
  align-self: stretch;

  @include vp-1199 {
    margin: 0 auto;
    padding: 25px 44px 22px;
  }

  @include vp-767 {
    width: 100%;
    padding: 24px 30px;
  }
}
