.video {
  position: relative;
  overflow: hidden;
  background-color: $color-defaultblack;

  &--enabled {
    cursor: pointer;

    .video__button {
      display: block;
    }
  }
}

.video__link {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize($color: $color-darkcerulean, $amount: 0.5);
    transition: background-color $trans-default;
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 100px;
    height: 100px;

    background-image: url("../img/svg/play.svg");
    background-repeat: no-repeat;
    background-size: contain;

    z-index: 1;

    @include vp-1199 {
      width: 73px;
      height: 73px;
    }
  }

  &:hover,
  &:focus {
    &::before {
      width: 110px;
      height: 110px;

      @include vp-1199 {
        width: 90px;
        height: 90px;
      }
    }
  }
}

.video__media {
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
}

.video__button {
  width: 100px;
  height: 100px;
  border: 0;
  padding: 0;
  background-color: $color-transparent;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  stop {
    transition: stop-color $trans-default;
  }

  .video__button-stroke {
    transition: stroke-opacity $trans-default;
  }

  @include vp-1199 {
    width: 73px;
    height: 73px;

    svg {
      width: 73px;
      height: 73px;
    }
  }
}
